    {% block stylesheets %}
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/sb-admin.css">
        <link rel="stylesheet" href="../css/computer-room.css">
        <link rel="stylesheet" href="../css/jquery-ui.css">
        <link rel="stylesheet" href="../css/dashboard.css">
    {% endblock %}

    {% block content %}{% endblock %}

    {% block javascripts %}
        <script src="/dashboard/js/userfrosting.js"></script>
        <script src="/dashboard/js/isotope.pkgd.min.js"></script>
        <script src="/dashboard/js/highstock.js"></script>
        <script src="/dashboard/js/exporting.js"></script>
        <script src="/dashboard/js/export-csv.js"></script>
        <script src="/dashboard/js/mangographs.js"></script>
        <script src="/dashboard/js/dashboard.js"></script>
    {% endblock %}

    {% block footer %}{% endblock %}
